@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazir-Light.woff");
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir;
  direction: rtl;
}

@-moz-document {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iran-sans;
    direction: rtl;
  }
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100
  ;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg
  ;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500
  ;
}

th{
  @apply !bg-slate-300 !py-4
}
td{
  @apply !py-2
}